version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    commit-message:
      prefix: chore
      include: scope
    ignore:
      - update-types: ["version-update:semver-major"]
        dependency-name: "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    commit-message:
      prefix: chore
      include: scope
    ignore:
      - update-types: ["version-update:semver-major"]
        dependency-name: "*"
  - package-ecosystem: terraform
    directory: "/terraform"
    schedule:
      interval: daily
      timezone: Europe/London
    open-pull-requests-limit: 5
    commit-message:
      prefix: chore
      include: scope
    ignore:
      - update-types: ["version-update:semver-major"]
        dependency-name: "*"
