name: approve and merge
on: pull_request_review
jobs:
  label:
    name: label when approved
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: label approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "approved"
  automerge:
    name: automerge dependabot PRs
    runs-on: ubuntu-latest
    needs: [label]
    timeout-minutes: 5
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.15.6"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PA_TOKEN }}
          MERGE_LABELS: "dependencies,approved"
